/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f85606;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hero_content {
  height: 400px;
  overflow-y: auto;
  direction: rtl;
  border-radius: 10px;
}

.menu-list-container {
  position: static;
}

.menu-list {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  /* position: relative; */
}
.side-menu{
  position: relative;
}
.hero_menu {
  position: relative;
  z-index: 10;
}
.menu_item {
  display: flex;
  margin-left: 10px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.category_icon img {
  width: 24px;
  height: 24px;
}

.menu_item p {
  margin: 10px 0px;
}

.hero_content {
  direction: ltr;
  list-style: none;
  border: 1px solid #e8e8e8;
}

.dropdown-menu {
  display: none;
}
.sub-menu {
  list-style: none;
}

.menu-list:hover {
  background-color: rgb(251, 251, 157);
}
.menu-list:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: auto;
  left: 96%;
  z-index: 20;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
}
/* .menu-list:hover{
  background-color: green;
} */

.sub_menu_item {
  display: flex;
  justify-content: space-between;
  width: 273px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}
.sub-menu-1 {
  list-style: none;
  padding: 10px;
}
.sub-menu-list {
  position: relative;
  padding: 10px;
}
.sub-menu-list:hover {
  background-color: rgb(251, 251, 157);
}
.sub-menu-list:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  z-index: 20;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
}
.sub_menu_item:hover {
  background-color: rgb(251, 251, 157);
}
